<header>
    <div class="head__title">
        <h1>
            <span>{{ subtitle }}</span>
        </h1>
        <p>{{ slogan }}</p>
    </div>
    <div>
        <label class="switch">
            <input id="theme__toggler" type="checkbox" name="checkbox">
            <span class="slider"></span>
        </label>
    </div>
</header>