 <!-- STATUS PANEL CONTAINER -->
<div id="status__panel">
    <span>total notes</span><h3>{{#if status }}{{ status }}{{/if}}</h3>
    <span>completed</span><h3>{{#if completed }}{{ completed }}{{ else }}0{{/if}}</h3>
    <span>date</span><h4>{{ dateToday }}</h4> 
</div>
<!-- END NOTES STATUS PANEL TEMPLATE -->