<!-- TODAYS LIST -->
    <h2 class="note__more">{{ sorting_title }}</h2>
    <!-- END TODAYS LIST -->


    <!-- UI SORTING ELEMENTS -->
    <div class="ui__buttons">
        <label class="button__sorting" for="sort_createdAt">
            <input id="sort_createdAt" type="checkbox" value="1"><i class="fas fa-sort-amount-down"
                aria-hidden="true"></i> Created at
        </label>
        <label class="button__sorting" for="sort_importance">
            <input id="sort_importance" type="checkbox" value="1"><i class="fas fa-sort-amount-down"
                aria-hidden="true"></i> Importance
        </label>
        <label class="button__sorting" for="sort_completed">
            <input id="sort_completed" type="checkbox" value="1"><i class="fas fa-sort-amount-down"
                aria-hidden="true"></i> Finished
        </label>
        <label class="button__sorting" for="sort_finished_date">
            <input id="sort_finished_date" type="checkbox" value="1"><i class="fas fa-sort-amount-down"
                aria-hidden="true"></i> Finished date
        </label>
        <label class="button__sorting" for="sort_clear">
            <input id="sort_clear" type="checkbox" value="1"><i class="fas fa-sort-amount-down" aria-hidden="true"></i>
            Clear
        </label>
    </div>
    <!-- END UI SORTING ELEMENTS -->