button {
    display: flex;
    justify-content: center;
    align-items: center;

    font: 400 12px / 16px "Raleway", Helvetica, Arial, sans-serif;

    background: var(--background-color);
    color: var(--font-color);

    padding: 10px;
    width: 100%;
    border-radius: none;
    border: none;

    cursor: pointer;
}

button:hover {
    color: var(--white-color);
    background-color: var(--button-hover-color);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

button:active {
    background-color: none;
}

button.active {
    color: var(--font-color);
    background-color: var(--chromatic-light-color-2);
}

/* PREVENT EVENT BUBBLING */
button > * {
    pointer-events: none; 
}

/* CUSTOM BUTTONS */
.note__buttons button {
    margin-right: .3rem;
}

.btn--delete {
    color: white;
    background-color: var(--importance-5);
    width: 40%;
}

.btn--delete i {
    margin-right: .5rem;
}

.note__dropdown .btn--open {
    margin: 10px;

    transform: rotate(90deg);
    transition: transform .3s ease;
}

.note__dropdown .btn--open.active {
    color: var(--white-color);
    background-color: var(--button-hover-color);
    
    transform: rotate(0deg);
    transition: transform .5s ease;
}

#form__submit, #submit__update {
    font-weight: 700;
    color: var(--background-color);
    background-color: var(--importance-3);
}

#form__submit:hover,
#submit__update:hover {
    color: var(--font-color);
    background-color: var(--background-color);
}

/* THEME TOGGLER */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--chromatic-light-color-2);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 8px;
    bottom: 4px;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--chromatic-light-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"]:hover {
    color: var(--white-color);
}

.button__sorting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: .5rem 0 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    color: var(--font-color);
    background-color: var(--background-color);

    cursor: pointer;
}

.button__sorting:hover {
    color: white;
    background-color: var(--button-hover-color);
}