:root {
    --background-color: rgb(36,64,51);
    --font-color: #ACA57F;
    --font-lighter: #ded6a8;

    --contrast-color: #079BAB;

    --white-color: #fff;
    --light-grey: #f2f2f2;

    --chromatic-light-color: #49735f;
    --chromatic-light-color-2: #3e584b;
    --chromatic-light-color-3: #3e584b;

    --success-color: #949e05;

    --button-hover-color: #73614C;

    --importance-1: #62bb00;
    --importance-2: #96bb00;
    --importance-3: #bbac00;
    --importance-4: #bb3c00;
    --importance-5: #bb002f;
}

body.theme__dark {
    --background-color: #FFC432;
    --font-color: #614c18;
    --font-lighter: #806a33;

    --contrast-color: #079BAB;

    --white-color: #222;
    --light-grey: #f2f2f2;

    --chromatic-light-color: #ffde8e;
    --chromatic-light-color-2: #ffd56c;
    --chromatic-light-color-3: #3e584b;

    --success-color: #949e05;

    --button-hover-color: #73614C;

    --importance-1: #62bb00;
    --importance-2: #96bb00;
    --importance-3: #bbac00;
    --importance-4: #bb3c00;
    --importance-5: #bb002f;
}

.note--importance-5 {
    background-color: var(--importance-5);
}

.note--importance-4 {
    background-color: var(--importance-4);
}

.note--importance-3 {
    background-color: var(--importance-3);
}

.note--importance-2 {
    background-color: var(--importance-2);
}

.note--importance-1 {
    background-color: var(--importance-1);
}

