#standard__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    
    min-width: 100%;
    margin: 0 0 3px 0;
    padding: 0;
}

.note.today .note__container {
    background-color: var(--contrast-color);
}

.note__container {
    display: flex;
    flex-direction: row;
    
    font-size: 1rem;
    font-weight: 700;
    
    min-height: 5vh;
    background-color: var(--chromatic-light-color-2);
}

.note__number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    color: var(--light-grey);
}

.note--completed {
    background-color: var(--success-color);
}

.note__importance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    color: white;
}

.note__title {
    display: flex;
    align-items: center;
    flex: 10;

    padding: 0 1rem;

    font-size: .875rem;
    font-weight: 700;
}

.note__expire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;

    background: var(--note-expire);
}


.note__dropdown {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: stretch;
}

/* DROPDOWN CONTENT */
.note__content {
    display: none;
    flex-direction: column;
    align-items: stretch;
    height: 0;
    opacity: 0;
    
    padding: 2rem;
    background-color: var(--chromatic-light-color-2);
    transition: visibility 0s, opacity 0.5s linear;
}

.note--open {
    display: flex;
    height: auto;
    opacity: 1;
}

.note__dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 3vh;
    margin-bottom: 2rem;
}

.note__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    margin-top: 2rem;
}

.note__created {
    flex: 1;
}

.note__completed {
    flex: 1;
}