#standard__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.note::before {
    height: 3px;
    content: '';
    animation: slideInFromLeft 2s cubic-bezier(0, 0, 0, 1.27);
}

.note.today {
    position: relative;
    animation: slideEffect 0.5s cubic-bezier(0, 0, 0, 1.3);
}

.note.today .note__container {
    background-color: var(--contrast-color);
}

.note__container {
    display: flex;
    flex-direction: row;
    
    font-size: 1rem;
    font-weight: 700;
    
    min-height: 5vh;
    background-color: var(--chromatic-light-color-2);
}

.note__number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    color: var(--light-grey);
}

.note--completed {
    background-color: var(--success-color);
    position: relative;
    animation: slideEffect .3s cubic-bezier(0, 0, 0, 1.7);
}

.note__importance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    color: white;

    position: relative;
    animation: slideEffect .6s cubic-bezier(0, 0, 0, 2);
}

.note__title {
    display: flex;
    align-items: center;
    flex: 10;

    padding: .75rem 1rem;
}

.note__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;

    background: var(--note-expire);

    position: relative;
    animation: slideEffect .8s cubic-bezier(0, 0, 0, 1.4);
}


.note__dropdown {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: stretch;
}

/* DROPDOWN CONTENT */
.note__content {
    display: none;
    flex-direction: column;
    align-items: stretch;
    height: 0;
    opacity: 0;
    
    padding: 2rem;
    background-color: var(--chromatic-light-color-2);
    transition: visibility 0s, opacity 0.5s linear;
}

.note--open {
    display: flex;
    height: auto;
    opacity: 1;
}

.note__dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 3vh;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--chromatic-light-color);
    padding-bottom: .875rem;
}

.note__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    margin-top: 2rem;
}

.note__created {
    flex: 1;
}

.note__completed {
    flex: 1;
}

/* IMPORTANCE ANIMATIONS */
.importance__bar--1::before {
    width: 20%;
    background-color: var(--importance-1);
}

.importance__bar--2::before {
    width: 40%;
    background-color: var(--importance-2);
}

.importance__bar--3::before {
    width: 60%;
    background-color: var(--importance-3);
}

.importance__bar--4::before {
    width: 80%;
    background-color: var(--importance-4);
}

.importance__bar--5::before {
    width: 100%;
    background-color: var(--importance-5);
}

/* ANIMATION EFFECTS */
@keyframes slideInFromLeft {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideList {
    from {
        opacity: 0;
        transform: rotateX(90deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes slideEffect {
    from {
        opacity: 0;
        left: -75px;
        transform: rotateX(90deg);
    }
    to {
        opacity: 1;
        left: 0;
        transform: rotateX(0deg);
    }
}