h1 {
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;

    color: var(--font-lighter);
}

h2 {
    font-size: inherit;
    color: var(--font-color);
}

h3 {
    font-size: 1.125rem;
    font-weight: 300;
}

p {
    font-size: .875rem;
    line-height: 1.3rem;
    color: var(--font-color);
}

span {
    font-size: .75rem;

}

.note p {
    color: var(--font-lighter);
}

.note__expire span {
    font-size: .6rem;
    text-transform: uppercase;
}

.note__title h2 {
    color: var(--font-lighter);
}

.note__description p {
    color: var(--font-lighter);
}