:root {
    --background-color: #244033;
    --font-color: #ACA57F;

    --contrast-color: #079BAB;

    --white-color: #fff;
    --light-grey: #f2f2f2;

    --chromatic-light-color: #49735F;
    --chromatic-light-color-2: #3e584b;

    --success-color: #949e05;

    --button-hover-color: #73614C;    
    --background-dark-completed-color: #73614C;
}

body.theme__dark {
    --background-color: #FFC432;
    --font-color: rgb(97, 76, 24);

    --contrast-color: #079BAB;

    --white-color: #222;
    --light-grey: #f2f2f2;

    --chromatic-light-color: #ffde8e;
    --chromatic-light-color-2: #ffebbb;

    --success-color: #949e05;

    --button-hover-color: #5CC0C7;    
    --background-dark-completed-color: #46699e;
}

