@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    --accent-color: rgb(144, 186, 204);
    --background-color: rgb(56, 73, 80);
    --text-color: rgb(144, 186, 204);
    --button-text-color: rgb(187, 198, 202);
    --button-background-color: rgb(80, 104, 114);
    --transition-delay: .3s;

    background-color: var(--background-color);
    color: var(--text-color);
    
    min-height: 100vh ;
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
}

body.bright {
    --accent-color: rgb(17, 53, 68);
    --background-color: rgb(187, 198, 202);
    --text-color: rgb(29, 50, 59);
    --button-text-color: rgb(17, 53, 68);
    --button-background-color: rgb(144, 186, 204);
    --transition-delay: .3s;
}

header, form, section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;

    padding: 1rem;
    margin: .5rem;
}

header {
    flex-wrap: wrap;
}

form input, form button {
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    background: white;
}

form button, #toggleTheme {
    color: var(--button-text-color);
    background: var(--button-background-color);
    cursor: pointer;
    transition: background 0.2s ease-in;
    border: none;
}

form button:hover, #toggleTheme:hover {
    color: white;
    background:rgb(144, 186, 204);
}

form input {
    background-color: var(--accent-color);
    color: var(--background-color);
}

#toggleTheme {
    padding: 1rem;
    font-size: 1.125rem;
    border-radius: 50%;
}

h1 {
    font-size: 4rem;
    width: 100%;
    text-align: center;
}
